md-sidenav-container {
  height: 100vh;
}

md-sidenav {
  width: 320px;
}

.avatar {
  overflow: hidden;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin: 12px;
}

.content {
  padding: 12px;
}

/deep/ .mat-list-item-content {
         height: auto !important;
       }

/deep/ .mat-tooltip{
         font-size:25px;
       }

/*
[md-raised-button] {
  width: 100%;
}
*/

